<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
		<head>
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
			<title>Menu</title>
			
			<link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
			<link rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}" />
		</head>
	<body>
		<div class="row menu-content" th:fragment="navegation">
            <div class="col-12 menu-content">
                <nav class="navbar navbar-expand-lg navbar-dark menu">
                    <div class="container-fluid">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link link-menu" th:href="@{/index}">Inicio</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link link-menu" th:href="@{/producto/listado}">Productos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link link-menu" th:href="@{/consejo/listado}">Consejos de salud</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link link-menu" th:href="@{/servicios/listado}">Servicio de paseos</a>
                                </li>
                                <li class="nav-item">
                                  	<a class="nav-link link-menu" th:href="@{/sucursal/listado}">Sucursales</a>
                              	</li>
                              	<li class="nav-item">
                                	<a class="nav-link link-menu" th:href="@{/contacto/formulario}">Contáctanos</a>
                            	</li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
      	</div>
	
	
			
            
      
		
		<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	</body>
</html>