<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" th:href="@{css/estilos.css}" />
		<title>Consejos de Salud</title>
	</head>
	<body>
		<main>
			<header th:replace="/layouts/header :: header"></header>
		</main>
		<div class="container-menu">
					<nav>
						<ul class="menu">
							<li><a href="index.html">Inicio</a></li>
							<li><a href="productos.html">Productos</a></li>
							<li><a href="consejos.html">Consejos de salud</a></li>
							<li><a href="servicios.html">Servicio de paseos</a></li>
							<li><a href="sucursales.html">Sucursales</a></li>
							<li><a href="contacto.html">Contáctanos </a></li>
							<li><a href="nuevo_producto.html">Add Producto</a></li>
						</ul>
					</nav>
				</div>
		<h1 id="titulo-consejos">Consejos de Salud</h1>
		<div id="contenedor-consejos">
			<div class="content-consejos1">
				<h2 id="blue-name-consejos">Mantenga A Su Mascota Saludable</h2>
				<ol>
					<li><strong>Visite regularmente al veterinario</strong>.</li>
					<p>El veterinario nos orientará y diseñará un plan de prevención de 
					las innumerables enfermedades que atacan a los animales de compañía</p>
					<li><strong>Proporcionele una alimentación sana.</strong></li>
					<p>Utiliza alimentos saludables, que cubran todas las necesidades 
					nutricionales de tu mascota</p>
					<li><strong>No descuidar su higiene</strong></li>
					<p>Para prevenir parásitos externos y de las enfermedades de la piel</p>
					<li><strong>Realize ejercicios con frecuencia</strong></li>
					<p>Realizar dos paseos al día, salir a correr o jugar con tu mascota 
					son ejercicios para mantener el correcto estado de salud de tu mascota</p>
				</ol>			
			</div>
			<div class="content-consejos2">
			<h2 id="red-name-consejos">Signos De Problemas Medicos</h2>
			<p>Lleve a su mascota al veterinario si observa:</p>
				<ul>
					<li>Pérdida del apetito.</li>
					<li>Consumo excesivo de agua</li>
					<li>Aumento o pérdida de peso en forma rápida.</li>
					<li>Cansancio y pereza.</li>
					<li>Abultamientos extraños.</li>
				</ul>
			</div>
		</div>
		<div class="texto-ayuda">
			<h2 class="content-text-ayuda-h2">Animales que ayudan a las personas</h2>
			<p>Los animales pueden servir como fuente de consuelo y apoyo. Los perros de terapia son especialmente buenos en esto. A veces, los llevan a hospitales o residencias para ayudar a reducir el estrés y la ansiedad de los pacientes.</p>
			<p>Los perros también pueden ayudar en el aula. Un estudio encontró que los perros pueden ayudar a los niños con TDAH a enfocar su atención.
			Los niños también tuvieron mejores interacciones sociales y estuvieron más comprometidos con sus compañeros.</p>
		</div>
		<footer th:replace="/layouts/footer :: footer"></footer>
</body>
</html>