<!DOCTYPE html>
<html lang="es">
	<head>
	<meta charset="UTF-8">
<title>Consejos de Salud</title>
</head>
<body>
		<h1>Consejos de Salud</h1>
		<h2>Mantenga a su mascota Saludable</h2>
		<ol>
			<li><strong>Visite regularmente al veterinario</strong>.</li>
			<p>El veterinario nos orientará y diseñará un plan de prevención de las innumerables enfermedades que atacan a los animales de compañía</p>
			<li><strong>Proporcionele una alimentación sana.</strong></li>
			<p>Utiliza alimentos saludables, que cubran todas las necesidades nutricionales de tu mascota</p>
			<li><strong>No descuidar su higiene</strong></li>
			<p>Para prevenir parásitos externos y de las enfermedades de la piel</p>
			<li><strong>Realize ejercicios con frecuencia</strong></li>
			<p>Realizar dos paseos al día, salir a correr o jugar con tu mascota son ejercicios para mantener el correcto estado de salud de tu mascota</p>
		</ol>
		<h2>Signos de Problemas medicos</h2>
		<p>Lleve a su mascota al veterinario si observa:</p>
		<ul>
			<li>Pérdida del apetito.</li>
			<li>Consumo excesivo de agua</li>
			<li>Aumento o pérdida de peso en forma rápida.</li>
			<li>Cansancio y pereza.</li>
			<li>Abultamientos extraños.</li>
		</ul>
		<h2>Animales que ayudan a las personas</h2>
		<p>Los animales pueden servir como fuente de consuelo y apoyo. Los perros de terapia son especialmente buenos en esto. A veces, los llevan a hospitales o residencias para ayudar a reducir el estrés y la ansiedad de los pacientes.</p>
		<p>Los perros también pueden ayudar en el aula. Un estudio encontró que los perros pueden ayudar a los niños con TDAH a enfocar su atención.
		Los niños también tuvieron mejores interacciones sociales y estuvieron más comprometidos con sus compañeros.</p>
	<nav>
		<ul>
			<a href="index.html">Inicio</a>
			<a href="productos.html">Productos</a>
			<a href="consejos.html">Consejos de salud</a>
			<a href="PaseosyLocales.html">Servicio de paseos</a>
			<a href="sucursales.html">Sucursales</a>
			<a href="contacto.html">Contáctanos </a>
		</ul>
	</nav>
</body>
</html>