<!DOCTYPE html>
<html lang="es">
	<head>
	<meta charset="UTF-8">
		<title>Salud Y Mascotas</title>
			</head>
				<body>
				<main>
					<header>
					<h1>SALUD PETS</h1>
					<img src="C:\Users\Lucas\git\TP2_Grupo21\TP2_Grupo21\src\main\resources\static\img\Catandog.jpg" alt="Cat And Dog" title="Gatito Y Perrito">
					</header>
				</main>
				<nav>
					<ul>
						<li><a href="index.html">Inicio</a></li>
						<li><a href="productos.html">Productos</a></li>
						<li><a href="consejos.html">Consejos de salud</a></li>
						<li><a href="PaseosyLocales.html">Servicio de paseos</a></li>
						<li><a href="sucursales.html">Sucursales</a></li>
						<li><a href="contacto.html">Contáctanos </a></li>
					</ul>
				</nav>
	<section>
		<article>
			<h3>Nuestra Misión</h3>
			<p>Contribuimos a crear un mundo mejor.<br>
				Ayudamos a amar y proteger a sus mascotas.<br>
				Creamos equipos de trabajo solidarios, proactivos y capacitados.<br>
				Invertimos e Innovamos para poder seguir mejorando y poder acercarnos cada día más.<br>
				Priorizamos el aporte y la participación solidaria para crear una comunidad inclusiva y el cuidado del medio ambiente.</p>
		</article>
		<article>
			<h3>Nuestros Valores</h3>
			<p>
			En Tienda de Mascotas creemos que para cumplir con nuestra misión, 
			necesitamos tener un estilo propio de realizar negocios y eso se refleja en nuestros 
			Valores Corporativos. Con servicio, cumplimiento, agilidad, calidez, compromiso e innovación.
			</p>
		</article>
	</section>
	
	<aside>
		<p> 
		Salud y Mascotas ofrece los mejores articulos en calidad, proporcina mayor comodidad y bienestar para nustros amigos caninos. 
		</p>
	</aside>
	<footer>
		<p> 
		Copyright 2023 - Salud Y Mascotas - Diseñado por Grupo 21 - Jujuy - Republica Argentina
		</p>
	</footer>
</body>
</html>
