<!DOCTYPE html>

<html lang="es">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="../static/css/estilos.css" />
		<link rel="icon" rel="image/png" href="../static/img/R.png">
		<title>Salud Y Mascotas</title>
	</head>
<body>

	<main>
					<header>
						<div class="container-head">
							<h1><a href="index.html">SALUD <span class="cursiva">PETS</span></a></h1>
							<div class="portada">
								<img src="..\static\img\portada.png" alt="Compras seguras" title="Portada de SaludPets">
							</div>
						</div>
					</header>
				</main>
				<div class="container-menu">
					<nav>
						<ul class="menu">
							<li><a href="index.html">Inicio</a></li>
							<li><a href="productos.html">Productos</a></li>
							<li><a href="consejos.html">Consejos de salud</a></li>
							<li><a href="PaseosyLocales.html">Servicio de paseos</a></li>
							<li><a href="sucursales.html">Sucursales</a></li>
							<li><a href="contacto.html">Contáctanos </a></li>
						</ul>
					</nav>
				</div>

	<div class="container-table">
		<table class="tabla-paseo">
        	<tr>
            	<td colspan="7" class="titulo">Servicio de Paseo - Horarios:</td>
        	</tr>

        	<tr>
            	<td class="columna-table"><b>Dia:</b></td>
            	<td class="dia"><b>Lunes</b></td>
            	<td class="dia"><b>Martes</b></td>
            	<td class="dia"><b>Miércoles</b></td>
            	<td class="dia"><b>Jueves</b></td>
            	<td class="dia"><b>Viernes</b></td>
            	<td class="dia"><b>Sábado</b></td>
        	</tr>

        	<tr>
            	<td class="columna-table"><b>Hora:</b></td>
            	<td class="horario">9 a 12 - 16 a 18</td>
            	<td class="horario">9 a 12 - 16 a 18</td>
            	<td class="horario">9 a 12 - 16 a 18</td>
            	<td class="horario">9 a 12 - 16 a 18</td>
            	<td class="horario">9 a 12 - 16 a 18</td>
            	<td class="horario">10 a 12</td>
        	</tr>


        	<tr>
            	<td class="columna-table"><b>Paseador:</b></td>
            	<td class="paseador">Jose Colque</td>
            	<td class="paseador">Teresa Moreno</td>
            	<td class="paseador">Oscar Lima</td>
            	<td class="paseador">Jose Colque</td>
            	<td class="paseador">Oscar Lima</td>
            	<td class="paseador">Teresa Moreno</td>
        	</tr>

    	</table>
	</div>
	
	    <aside>
		    <p> 
		        Salud Pets ofrece los mejores articulos en calidad, proporcina mayor comodidad y bienestar para nustros amigos caninos. 
		    </p>
	    </aside>
	    <footer>
		    <p> 
		    Copyright 2023 &#169 - Salud Pets - Diseñado por Grupo 21 SRL - Jujuy - Republica Argentina
		    </p>
	    </footer>
</body>
</html>