<!DOCTYPE html>
<html lang="es">
	<head>
	<meta charset="UTF-8">
<title>Productos</title>
</head>
<body>
		<h1>Productos para Mascotas</h1>
		
		<ul>
			<li>
				<img src="../static/img/cepillo.jpg" alt="Un cepillo para mascotas">
				<figcamption>Cepillo para quitar el exceso de pelo en tus mascotas.</figcamption>
			</li>
			<li>
				<img src="../static/img/correa.jpg" alt="Perro con correa">
				<figcamption>Correas resistentes para salir a pasear a todos lados.</figcamption>
			</li>
			<li>
				<img src="../static/img/cucha.jpg" alt="Cucha con un perro">
				<figcamption>Cucha comoda para tu perro.</figcamption>
			</li>
			<li>
				<img src="../static/img/juguetes.jpg" alt="Jueguetes para mascotas">
				<figcamption>Juguetes para pasar el rato con tu mascota.</figcamption>
			</li>
		</ul>
	<nav>
		<ul>
			<a href="index.html">Inicio</a>
			<a href="productos.html">Productos</a>
			<a href="consejos.html">Consejos de salud</a>
			<a href="PaseosyLocales.html">Servicio de paseos</a>
			<a href="sucursales.html">Sucursales</a>
			<a href="contacto.html">Contáctanos </a>
		</ul>
	</nav>
</body>
</html>