<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}" />
		<link rel="icon" type="image/png" th:href="@{/img/R.png}">
		<title>Servicios</title>
	</head>
<body>
	<div class="container-fluid mb-3">
		<!-- Layout del titulo y carrusel de imagenes -->
			<div th:replace="~{/layouts/header :: header}"></div>
        


		<!-- Layout del menu -->
		  <div th:replace="~{/layouts/navegation :: navegation}">
            
      	  </div>

		<!-- Tabla de horarios para los servicios de paseos -->
			<section class="container-fluid mt-5 paseos">
			<div class="container-fluid">
			  <div class="row">
				<div class="col-12">
				  <h2 class="text-center">Tabla de Paseos</h2>
				</div>
				<div class="col-12">
				  <div class="table-responsive">
					<table class="table">
					  <thead>
						<tr>
							<td class="col-md-1 bg-success tabla-paseos text-white"><b>Dia:</b></td>
							<td class="col-md-1 bg-success text-white"><b>Lunes</b></td>
							<td class="col-md-1 bg-success text-white"><b>Martes</b></td>
							<td class="col-md-1 bg-success text-white"><b>Miércoles</b></td>
							<td class="col-md-1 bg-success text-white"><b>Jueves</b></td>
							<td class="col-md-1 bg-success text-white"><b>Viernes</b></td>
							<td class="col-md-1 bg-success text-white"><b>Sábado</b></td>
						</tr>
					  </thead>
					  <tbody>
						<tr>
							<td class="col-md-1 bg-success tabla-paseos text-white"><b>Hora:</b></td>
							<td class="col-md-1">9 a 12 - 16 a 18</td>
							<td class="col-md-1">9 a 12 - 16 a 18</td>
							<td class="col-md-1">9 a 12 - 16 a 18</td>
							<td class="col-md-1">9 a 12 - 16 a 18</td>
							<td class="col-md-1">9 a 12 - 16 a 18</td>
							<td class="col-md-1">10 a 12</td>
						</tr>
						<tr>
							<td class="col-md-1 bg-success tabla-paseos text-white"><b>Paseador:</b></td>
							<td class="col-md-1">Jose Colque</td>
							<td class="col-md-1">Teresa Moreno</td>
							<td class="col-md-1">Oscar Lima</td>
							<td class="col-md-1">Jose Colque</td>
							<td class="col-md-1">Oscar Lima</td>
							<td class="col-md-1">Teresa Moreno</td>
						</tr>
					  </tbody>
					</table>
				  </div>
				</div>
			  </div>
			</div>
		  </section>
			
			

		
    </div>
    
    
    <!-- Layout del footer -->
    <div th:replace="~{/layouts/footer :: footer}"></div>

	    
	    
	    
	    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>