<!DOCTYPE html>
<html lang="es">
	<head>
	<meta charset="UTF-8">
	<title>Salud y Mascotas</title>
	<link rel="stylesheet" type="text/css" href="../static/css/estilos.css" />
	<link rel="icon" rel="image/png" href="../static/img/R.png">
</head>
<body>
	<main>
        <header>
            <div class="container-head">
                <h1>SALUD <span class="cursiva">PETS</span></h1>
                <div class="portada">
                    <img src="..\static\img\portada.png" alt="Compras seguras" title="Portada de SaludPets">
                </div>
            </div>
        </header>
    </main>
    <div class="container-menu">
        <nav>
            <ul class="menu">
                <li><a href="index.html">Inicio</a></li>
                <li><a href="productos.html">Productos</a></li>
                <li><a href="consejos.html">Consejos de salud</a></li>
                <li><a href="PaseosyLocales.html">Servicio de paseos</a></li>
                <li><a href="sucursales.html">Sucursales</a></li>
                <li><a href="contacto.html">Contáctanos </a></li>
            </ul>
        </nav>
    </div>



    <section>
        <div class="container-sucursales">

            <div class="titulo"><h5>Conocé nuestras Sucursales</h5></div>

            <div class="container-direccion">
                <div class="sucursal">
                    <p><span class="descripcion-sucursal">Local Principal</span>: Conoce nuestros servicios y productos de alta calidad</p>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1486.6371126866522!2d-65.30245102117831!3d-24.191125664468817!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x941b0f45b12dddef%3A0x4d3f2c08c7f03b6c!2sBella%20Sofi%20Bijouterie!5e0!3m2!1ses-419!2sar!4v1681920384097!5m2!1ses-419!2sar" width="400" height="250" style="border: 1px solid black;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>

                <div class="sucursal">
                    <p><span class="descripcion-sucursal">Local Patio</span>: Nuestro local para que visites el patio de juegos</p>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d909.8609863720998!2d-65.2951207044197!3d-24.1912266!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x941b0f76e5044caf%3A0xc33b1ec60794d81!2sBendita%20Eres%20Accesorios!5e0!3m2!1ses-419!2sar!4v1681920633063!5m2!1ses-419!2sar" width="400" height="250" style="border: 1px solid black;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>

        </div>
    </section>


    <aside>
        <p> 
            Salud Pets ofrece los mejores articulos en calidad, proporcina mayor comodidad y bienestar para nustros amigos caninos. 
        </p>
    </aside>
    <footer>
        <p> 
        Copyright 2023 &#169 - Salud Pets - Diseñado por Grupo 21 SRL - Jujuy - Republica Argentina
        </p>
    </footer>
</body>
</html>