<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}" />
		<link rel="icon" type="image/png" th:href="@{/img/R.png}">
		<title>Sucursales</title>
	</head>
<body>
		<div class="container-fluid mb-3">
		<!-- Layout del titulo y carrusel de imagenes -->
			<div th:replace="~{/layouts/header :: header}"></div>
        


		<!-- Layout del menu -->
		  <div th:replace="~{/layouts/navegation :: navegation}">
            
      	  </div>
      	  
      	  	<div class="row m-5">
            	<div class="col-12 text-center">
                	<h1>Conocé nuestros locales</h1>
            	</div>
        	</div>
        	
        	
        	<!-- Seccion para las sucursales -->
        	<section class="container-fluid ">
				<div class="container-fluid">
					<div class="row mt-2 mb-2 justify-content-center">
						<div th:each="sucursal : ${sucursales}" class="col-7 mb-5 p-4 sucursales">
							<h2 th:text="${sucursal.nombre}" class="titulo-sucursal"></h2>
							<p th:text="${sucursal.descripcion}" class="texto"></p>
							<ul class="list-group">
								<li class="list-group-item" th:text="'Dirección: ' + ${sucursal.direccion}"></li>
								<li class="list-group-item" th:text="'Horario de apertura: ' + ${sucursal.horaAbrir}"></li>
								<li class="list-group-item" th:text="'Horario de cierre: ' + ${sucursal.horaCerrar}"></li>
								<li class="list-group-item" th:text="'Teléfono: ' + ${sucursal.telefono}"></li>
								<li class="list-group-item" th:text="'Email: ' + ${sucursal.email}"></li>
								<li class="list-group-item" th:text="'Sucursal N°: ' + ${sucursal.id}"></li>
							</ul>
							<div class="d-flex justify-content-end">
								<a th:href="@{/sucursal/modificar/}+${sucursal.id}" class="btn btn-primary">Editar</a>
								<a th:href="@{/sucursal/eliminar/}+${sucursal.id}" class="btn btn-danger">Eliminar</a>
							</div>
						</div>
					</div>
				</div>
			</section>

		
		
		<div class="row m-5 justify-content-center">
            <div class="col-12 text-center">
              <button class="btn btn-primary" onclick="window.location.href = 'nuevo'">Agregar Sucursal</button>
            </div>
        </div>

		
    </div>
    
    
    <!-- Layout del footer -->
    <div th:replace="~{/layouts/footer :: footer}"></div>

	    
	    
	    
	    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>